@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;

  height: 100vh;

  background: rgb(255, 255, 255);
  font-family: "Segoe UI", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* For all browsers */
/* global-styles.css */
body {
  scrollbar-width: thin;
  scrollbar-color: #0051ff rgb(3, 2, 0);
}

/* For WebKit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track {
  background: rgb(206, 204, 204);
}

body::-webkit-scrollbar-thumb {
  background-color: #3472f8;
  border-radius: 20px;
  border: 3px solid rgb(206, 204, 204);
}

#range-dropdown {
  color: black;
}

#navbar {
  background-color: #3e88f8;
  margin-bottom: 1rem;
  color: black;
  font-weight: 500;
}

#navbar > div {
  top: 20px;
  height: 4rem;
}

#welcome-text {
  font-size: 2rem;
}
#greet {
  grid-area: greet;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  /* max-height: 100px; */
  width: auto;
  background-color: #3e88f8;
  /* background-color: #84cc16; */
  /* border: 2px solid black; */
  border-radius: 5px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.8);
}

#sidebar {
  grid-area: sidebar;
  color: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.active {
  /* border-bottom: 5px solid rgb(41, 27, 236); */
  background-color: #0043a8;
  color: white;
}

#sidebar > div {
  padding: 0.5rem;
  margin: 0.5rem;
  color: black;
  background-color: rgb(223, 223, 223);
  /* border-left: 2px solid lime;
  border-top: 2px solid lime;
  border-right: 2px solid lime; */
}

#daily-data {
  grid-area: daily-data;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

#recent-data {
  grid-area: recent-data;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.square {
  background-color: rgb(223, 223, 223);
  display: flex;
  color: black;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  /* border: 2px solid lime; */
  min-height: 200px;
  min-width: 200px;
  flex: 1;
  border-radius: 5px;
  /* padding: 1rem; */
  box-shadow: 0 4px 6px rgb(0 0 0 / 0.6);
}

#grid-container {
  background-color: inherit;
  /* margin: 2rem; */
  display: grid;
  gap: 1rem;
  overflow: auto;
  height: 100%;
  grid-template-areas:
    "greet greet greet greet sidebar"
    "daily-data daily-data daily-data daily-data sidebar"
    "daily-data daily-data daily-data daily-data sidebar"
    "recent-data recent-data recent-data recent-data sidebar"
    "recent-data recent-data recent-data recent-data sidebar";
  width: 100%;
  overflow: hidden;
  padding: 1rem;
}

@media (max-width: 1024px) {
  #grid-container {
    overflow: auto;
    /* margin: 2rem;
    padding: 2rem; */
    height: 100%;
    grid-template-areas:
      "greet"
      "daily-data"
      "recent-data"
      "sidebar";
  }

  #sidebar {
    width: 100%;
  }
}

/* RecentExercise Compoentt */
.recent-exercise {
  /* margin-bottom: 1rem; */
  width: 100%;
}

.exercise-card {
  border-bottom: 5px solid rgb(67, 131, 250);
  box-shadow: 0 2px 2px rgb(0 0 0 / 0.6);
  border-radius: 5px;
}

.time-container {
  display: flex;
  justify-content: space-between;
}

.exercise-name-icon {
  position: absolute;
  top: -20px;
  display: flex;
  align-items: center;
  z-index: 2;
  background-color: #84cc16;
  border-radius: 5px;
  padding: 0.3rem;
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.8);
}

.recent-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.recent-ex-length {
  font-size: larger;
  font-weight: 700;
}

.recent-exercise-date {
  align-self: flex-end;
  font-size: smaller;
  color: grey;
}

/* Square component */

.inner-square {
  display: flex;
  flex-direction: column;
}
.inner-square > p {
  padding: 1rem;
  margin: 0 auto;
}

.line-graph {
  /* margin: 1rem; */
  border: 1px transparent rgb(87, 87, 87);
  padding: 1rem;
  /* text: white; */
  background-color: inherit;
}

#recent-runs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  justify-content: center;
  align-items: center;
  color: white;

  /* padding: 1.5rem; */
}
#recent-steps {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  justify-content: center;
  align-items: center;
  color: white;

  /* padding: 1.5rem; */
}

.graph-title {
  color: white;
}

/*  */

/* #daily-data{
  
} */

#top-badges-container {
  display: grid;
  grid-template: auto 1fr / auto 1fr;
  gap: 1.5rem;
}

#outer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
  padding-bottom: 2rem;
  height: 100%;
}
#outer-container > p {
  color: white;
  text-align: center;
}

.badge-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Clock start */

.datetime {
  color: #fff;
  background-color: rgb(9, 5, 245);
  font-family: "Segoe UI", sans-serif;
  /* width: 340px; */
  padding: 15px 10px;
  /* border: 3px solid #2E94E3; */
  /* border: 3px solid indigo; */
  border-radius: 15px;
  /* -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.1)); */
  transition: 0.5s;
  transition-property: background, box-shadow;
}

/* .datetime:hover{
  background: #2E94E3;
  box-shadow: 0 0 30px #2E94E3;
} */

.date {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 3px;
}

.time {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time span:not(:last-child) {
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time span:last-child {
  background: #2e94e3;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 0 5px;
  border-radius: 3px;
}

/* ProfileSkeleton */

#grid-container-skeleton {
  background-color: inherit;
  margin: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "greet-skeleton greet-skeleton greet-skeleton greet-skeleton sidebar-skeleton"
    "daily-data-skeleton daily-data-skeleton daily-data-skeleton daily-data-skeleton sidebar-skeleton"
    "daily-data-skeleton daily-data-skeleton daily-data-skeleton daily-data-skeleton sidebar-skeleton"
    "recent-data-skeleton recent-data-skeleton recent-data-skeleton recent-data-skeleton sidebar-skeleton"
    "recent-data-skeleton recent-data-skeleton recent-data-skeleton recent-data-skeleton sidebar-skeleton";
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

#greet-skeleton {
  grid-area: greet-skeleton;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  /* max-height: 100px; */
  width: auto;
  background-color: inherit;
  opacity: 0.6;
  /* background-color: #84cc16; */
  /* border:2px solid black */
  border-radius: 5px;
  /* border: 2px solid lime; */
}

#daily-data-skeleton {
  grid-area: daily-data-skeleton;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.inner-square-skeleton {
  display: flex;
  flex-direction: column;
}

/* .inner-square > p {
  padding: 1rem;
  margin: 0 auto;
} */

#recent-data-skeleton {
  grid-area: recent-data-skeleton;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.recent-runs-skeleton {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  justify-content: center;
  align-items: center;
  color: white;
}

#outer-container-skeleton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
  padding-bottom: 2rem;
  height: 100%;
}

#top-badges-container-skeleton {
  display: grid;
  grid-template: auto 1fr / auto 1fr;
  gap: 1.5rem;
}

#sidebar-skeleton {
  grid-area: sidebar-skeleton;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: inherit;
  color: white;
  width: 300px;
  /* border: 2px solid black; */
}

.recent-exercise-skeleton {
  height: 50px;
  opacity: 0.6;
  padding: 0.5rem;
  margin: 0.5rem;
  color: white;
  background-color: inherit;
  border-radius: 5px;
  /* border: 2px solid black; */
  /* border: 2px solid lime; */
}

.square-skeleton {
  background-color: rgb(223, 223, 223);
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.8);
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  min-width: 200px;
  flex: 1;
  /* padding: 1rem; */
  border-radius: 5px;
}

.shimmerBG {
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #ddd;
  background: linear-gradient(
    to right,
    rgb(158, 158, 158) 8%,
    rgb(118, 118, 126) 18%,
    rgb(158, 158, 158) 33%
  );
  background-size: 1200px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }

  100% {
    background-position: 1200px 0;
  }
}

/* Run Entry page */

.run-entry {
  display: flex;
  color: white;
  font-weight: 600;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
  height: 80px;
  background-color: rgb(0 0 0);
  /* border: 2px solid lime; */
  margin: 20px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.8);
}
.run-entry-top {
  display: flex;
  justify-content: flex-end;
}
.run-entry-bottom {
  display: flex;
  justify-content: space-between;
}

/* run display page */

.run-display {
}

#scroll-top {
  background-color: #3472f8;
  color: white;
}
/* #run-display-grid-container {
  background-color: rgb(46, 46, 46);
  overflow-y: scroll;
  display:flex;
  justify-content: center;
  margin: 0 auto;
  margin: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    'run-display depth-sidebar'
    'run-display depth-sidebar'
    'run-display depth-sidebar';
  width: 100%;
  height: 80vh; 
  overflow: hidden;
} */

#depth-sidebar {
  display: grid;
  grid-template-areas:
    "filter-data-section filter-data-section"
    "stats-container weekly-goals-container"
    "stats-container weekly-goals-container"
    "map-container map-container"
    "map-container map-container";
  gap: 2rem;
}

#run-display-grid-container {
  display: flex;

  justify-content: center;
  gap: 1rem;

  height: 100%;
  margin: 2rem;
}

#left-section {
  grid-area: left-section;
  background-color: inherit;
  padding-top: 0rem;
}
#display-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  #display-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
  }
  #depth-sidebar {
    gap: 1rem;
    position: fixed;
    width: 100%;
    height: 40vh;
    height: fit-content;
    background-color: rgb(0 0 0);
    border-bottom: 1px sold lime;
  }
  #grid-container-skeleton {
    overflow: auto;

    height: 100%;
    margin: 0;
    grid-template-areas:
      "greet-skeleton"
      "daily-data-skeleton"
      "recent-data-skeleton"
      "sidebar-skeleton";
  }
  #sidebar-skeleton {
    width: 100%;
  }
}
@media (min-width: 1025px) {
  #depth-sidebar {
    gap: 2rem;
    position: fixed;
    width: 100%;
    height: 80vh;
    height: fit-content;
    background-color: inherit;
    border-bottom: 1px sold lime;
  }
}

#left-section > div > div:nth-child(1) {
  margin-top: 0;
}

#depth-sidebar {
  grid-area: depth-sidebar;
  /* background-color: rgb(87, 87, 87); */
  position: sticky;
  top: 4rem;
}

#filter-data-section {
  grid-area: filter-data-section;
  background-color: rgb(223, 223, 223);
  border-radius: 5px;
  padding: 1.5rem;
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-height: 100px;
}

#filter-data-section > select {
  color: black !important;
}

#top-filter,
#bottom-filter {
  display: flex;
  justify-content: space-between;
}

#stats-container {
  grid-area: stats-container;
  padding: 1.5rem;
  font-weight: 700;
  min-height: 200px;
  min-width: 200px;
  background-color: rgb(223, 223, 223);
  color: white;
  font-weight: 700;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.8);
}

.stats-entry {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#stats-container > span,
#weekly-goals-container > span,
#map-container > span {
  position: absolute;
  top: -20px;
  display: flex;
  align-items: center;
  z-index: 2;
  color: white;
  font-weight: normal;
  background-color: #84cc16;
  border-radius: 10px;
  padding: 0.3rem;
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.8);
}

/* #cals-container {
  grid-area: cals-container;
  min-height: 200px; 
  min-width: 200px; 
  background-color: rgb(87, 87, 87);
} */

#map-container {
  grid-area: map-container;
  border-radius: 5px;
  padding: 1.5rem;
  position: relative;
  min-height: 200px;
  min-width: 200px;
  color: white;
  font-weight: 700;
  background-color: rgb(223, 223, 223);
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.8);
}

#weekly-goals-container {
  padding: 1.5rem;
  position: relative;
  color: white;
  font-weight: 700;
  grid-area: weekly-goals-container;
  border-radius: 5px;
  min-height: 200px;
  min-width: 200px;
  background-color: rgb(223, 223, 223);
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.8);
}

/* Run display Skeleton */

#run-display-grid-container-skeleton {
  display: flex;
  grid-template-areas: "left-section-skeleton depth-sidebar-skeleton";
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 1rem;
  /* width: 80%; */
  height: 100%;
  margin: 2rem;
}

#depth-sidebar-skeleton {
  display: grid;
  grid-template-areas:
    "filter-data-section-skeleton filter-data-section-skeleton"
    "stats-container-skeleton weekly-goals-container-skeleton"
    "map-container-skeleton map-container-skeleton";
  gap: 2rem;
}

#map-container-skeleton {
  grid-area: map-container-skeleton;
  position: relative;
  min-height: 200px;
  min-width: 200px;
  background-color: rgb(223, 223, 223);
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.8);
  border-radius: 5px;
}

#weekly-goals-container-skeleton {
  position: relative;

  grid-area: weekly-goals-container-skeleton;
  border-radius: 5px;
  min-height: 200px;
  min-width: 200px;
  /* border: 2px solid lime; */
  background-color: rgb(0 0 0 / 0.8);
  box-shadow: 0 5px 6px rgb(0 0 0 / 0.8);
}

#filter-data-section-skeleton {
  grid-area: filter-data-section-skeleton;

  border-radius: 5px;

  box-shadow: 0 5px 6px rgb(0 0 0 / 0.8);

  margin-top: 20px;
  height: 200px;
  width: 100%;
  /* border: 2px solid lime; */
  width: 100%;
  max-height: 100px;
}

#stats-container-skeleton {
  grid-area: stats-container-skeleton;
  min-height: 200px;
  min-width: 200px;
  background-color: rgb(223, 223, 223);
  /* border: 2px solid lime; */
  border-radius: 5px;
  position: relative;
  box-shadow: 0 5px 6px rgb(0 0 0 / 0.8);
}

#left-section-skeleton {
  grid-area: left-section-skeleton;
  overflow-y: auto;
  background-color: inherit;
  padding-top: 0rem;
}
